<div>
	<table style="background-color: #444; border-collapse: collapse;">
		<tr *ngFor="let ii of [0,1,2]">
			<td *ngFor="let oo of [0,1,2]" [ngStyle]="{'padding-top': '0px', 'padding-left': '0px', 'padding-right': oo !== 2 ? '2px' : '0px', 'padding-bottom': ii !== 2 ? '2px' : '0px'}">
				<ng-container *ngFor=" let id of [(ii * 3 + oo)]">
					<app-cell id="{{id}}" [id]="id" [taken]="takens[id]" (click)="clicked(id)" [win]="won ? won.case.indexOf(id) >= 0 : false"></app-cell>
				</ng-container>
			</td>
		</tr>
	</table>
</div>